
13470907600626234644_filerules.txt

mainWindowStates/startupMainWindowState

MayaInterfaceScalingConfig

menuSetPrefs.mel

MTKShelf.mel

shelves/shelf_CurvesSurfaces.mel

windowPrefs.mel

shelves/shelf_Bullet.mel

shelves/shelf_TURTLE.mel

shelves/shelf_Animation.mel

shelves/shelf_FX.mel

shelves/shelf_FXCaching.mel

shelves/shelf_Polygons.mel

shelves/shelf_Rendering.mel

shelves/shelf_Rigging.mel

shelves/shelf_Sculpting.mel

userColors.mel
