
13470907600626234644_filerules.txt

mainWindowStates/startupMainWindowState

MayaInterfaceScalingConfig

menuSetPrefs.mel

MTKShelf.mel

shelves/shelf_CurvesSurfaces.mel

windowPrefs.mel
